
.footer{
    height: 300px;
}
.hide{
    display: none;
}

  button {
      color: #FFFFFF;
      background: #A4D3FF;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
      border-radius: 5px!important;
      border: none;
  }
.active {

    background: #4AA8FF;
}
.active {

    background: #4AA8FF;

}
button:active {

    background: #4AA8FF;
}

.errorInput{
    border: solid 1px #e74c3c !important;
}

.errorText{
    color: #e74c3c;
}

.input-requirements {
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    list-style: disc;
    list-style-position: inside;
    max-width: 400px;
    margin-left: -35px ;
    color: rgb(150,150,150);

}
.input-requirements li {
    display: none;
}
.input-requirements li.invalid {
    color: #e74c3c;
    display: block;
}
.input-requirements li.valid {
    color: #2ecc71;
    display: none;
}