.head {
position: absolute;
width: 1920px;
height: 60px;
left: 0px;
top: 0px;

background: linear-gradient(270deg, #05A3FC 5.78%, rgba(255, 255, 255, 0) 94.37%), #7BF7FF;
}

.logo {
    width: 38px;
    height: 38px;
    margin-top: 10px;
    background-image: url(/img/star-of-david.png);
}

.nav-head {
height: 60px;
left: 0px;
top: 0px;
background: linear-gradient(270deg, #05A3FC 5.78%, rgba(255, 255, 255, 0) 94.37%), #7BF7FF;
}

.title {
 width: 158px;
margin-left: -50px;
    margin-top: 4px;

display: flex;
align-items: center;
}

.titleText,
.titleText:hover {
    font-style: normal;
    font-weight: 300;
    font-size: 20.4815px;
    line-height: 24px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: 0px 2.34074px 2.34074px rgba(0, 0, 0, 0.2);
    /*заливка текста*/
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(89.92deg, #0C8AFE 8.21%, rgba(255, 255, 255, 0) 79.19%),
    linear-gradient(0deg, rgba(248, 6, 253, 0.55), rgba(248, 6, 253, 0.55));

}
.btn-my-patients {
    display: flex;
    flex-direction: row;
    width: 128px;
    height: 27px;
    top: 17px;
    font-size: 14px; 
    line-height: 16px;  
    white-space:  nowrap;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: black;
}

.my-patients-lable {
    margin-top: 3px;
    margin-left: 5px;
        white-space:  nowrap;

}

.btn-profile {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 27px;
    top: 17px;
    font-size: 14px; 
    line-height: 16px;


}

.btn-events {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 16px;
    top: 15px;
    height: 27px;
}

.profile-lable {
    margin-top: -4px;
    margin-left: 5px;
    display: flex;
}

.btn-logout {

    margin-left: 30px;
margin-top:  12px;
width: 78px;
height: 35px;
color: white;

background: linear-gradient(103.72deg, #0C8AFE -9.14%, rgba(255, 255, 255, 0) 248.91%), rgba(248, 6, 253, 0.55);
border: 0.1px solid #000000;
box-sizing: border-box;
border-radius: 2.30263px;
}

.eventsImg{
    width: 25px;
    margin-right: 15px;
}